<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.GuessYouLikeMapper">

    <insert id="insertBatch">
        insert into guess_you_like (user_id, dish_id, setmeal_id, score, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.dishId}, #{item.setmealId}, #{item.score}, #{item.createTime})
        </foreach>
    </insert>

</mapper>